<!-- extends base.html -->
{% extends "base.html" %}
{% from "macros.html" import render_form with context %}
{% block title %}{{ team.name }} Detail{% endblock %}
{% block content %}
  <h2>Team {{team.name}} Detail</h2>
  <a class="btn btn-large btn-info nav-item nav-link" href="{{ url_for('teams.edit', team_id=team.id) }}">Edit Team</a>
{% endblock%}
