<!-- extends base.html -->
{% extends "base.html" %}
{% from "macros.html" import render_form with context %}
{% block title %}Teams List{% endblock %}
{% block content %}
  {% for team in teams %}
    <div class='item-display'>
      <h3><a href="{{ url_for('teams.detail', team_id=team.id) }}">{{team.name}}</a></h3>
      <p>{{team.leader}}</p>
      <p>{{team.description}}</p>
    </div><!-- end .item-display -->
  {% endfor %}
  <a class="btn btn-large btn-info nav-item nav-link" href="{{ url_for('teams.add') }}">New Team</a>
{% endblock%}
