<!-- extends base.html -->
{% extends "base.html" %}
{% from "macros.html" import render_form with context %}
{% block title %}Login{% endblock %}
{% block content %}
  <form action="" method="POST" role="form">
    {{ render_form(form) }}
  </form>

  <a class="btn btn-large btn-info" href="{{ url_for('user.register') }}">Register</a>
  <a class="btn btn-large btn-info" href="{{ url_for('user.forgot_password') }}">Forgot Password</a>
{% endblock %}
