body {
  margin-top: 20px;
}

html {}

#app-name > a:hover {
  text-decoration: none;
  color: #000;
}

#app-name > a {
  text-decoration: none;
  color: #000;
}

#login-logout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#footer {
  margin-top: 200px;
  text-align: center;
}
