<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebShootout - {% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/Flask-logo.sh.png') }}" />
</head>
<body>
  <div id="app" class="container container-fluid">
    <header id="header">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 id="app-name" class="navbar-brand">
          <a href="{{ url_for('main.index') }}">Flask Vote</a>
        </h1>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <div id="login-logout">
              {% if current_user.is_anonymous and request.path != '/user/login'%}
                <a class="btn btn-large btn-info nav-item nav-link" href="{{ url_for('user.login') }}">Login/Register</a>
              {% elif current_user.is_authenticated %}
                <a class="btn btn-large btn-info nav-item nav-link" href="{{ url_for('teams.list') }}">Teams</a>
                <a class="btn btn-large btn-info nav-item nav-link" href="{{ url_for('events.list') }}">Events</a>
                <a class="btn btn-large btn-info nav-item nav-link" href="{{ url_for('user.logout') }}">Logout</a>
              {% endif %}
            </div><!-- end #login-logout -->
          </div><!-- end .navbar-nav -->
        </div><!-- end #navbarNavAltMarkup -->
      </nav>
    </header>
    <div id="main-content">
      <div id="flash-message">
        {%- with messages = get_flashed_messages() -%}
          {% if messages -%}
            <ul class="alert alert-warning" role="alert">
              {%- for message in messages -%}
                <li>{{message}}</li>
              {%- endfor %}
            </ul>
          {% endif %}
        {% endwith %}
      </div><!-- end #flash-message -->
      <div id="content">
        {% block content %}
        {% endblock %}
      </div><!-- end #content -->
    </div><!-- end #main-content" -->
    <footer id="footer">
      {% block footer %}
      {% endblock %}
      <a id="backToTop" href="{{request.path}}#header">
        <i class="fa fa-chevron-up" aria-hidden="true"></i>
      </a>
      <div id="copyright" class="text-center">
        Copyright (c) 2017 Cameron Dershem.  All Rights Reserved.
      </div><!-- end copyright -->
    </footer>
    <div id="scripts">
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    </div><!-- end #scripts -->
  </div><!-- end #container .container -->
</body>
</html>
